{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <main>

        <div class=" logo-page-accueil ">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge" class="logo-accueil" id="test-img"
                 data-add-class-target="target">

        </div>
        <form action="{{ path('app_login') }}" method="post" class="form-connexion">
            <div>
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" placeholder="Entrez votre Email"
                       value="{{ last_username }}" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" placeholder="Entrez votre mot de passe" required>
            </div>

            <div>
                <button type="submit">Se connecter</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                <div class="invalid-feedback">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </main>


{% endblock %}