{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}


    <main data-controller="add-class">
        <aside>
            <ul>
                <li><a href="{{ path('app_message') }}">Message</a></li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% if admin %}
                    <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
                {% endif %}
            </ul>
        </aside>
        <div>

            {{ form_start(form) }}

            {{ form_end(form) }}
            <button type="button"
                    data-action="click->add-class#toggleClass" data-target-id="test-img">Lancer une recherche avec
                filtre
            </button>

        </div>
        <div id="result"></div>
    </main>



{% endblock %}
