{% extends 'base.html.twig' %}
{% block body %}
    {% if match %}

        <h2>Information sur l'utilisateur trouvé :</h2>
        <p>Prénom : {{ matchName.firstname|capitalize }}</p>
        <p>Age : {{ matchName.age }}</p>
        <p>Civilite : {{ matchName.civilite.civiliteName }}</p>

    {% elseif message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <p><a href="{{ path('app_accueil') }}">Retour à l'accueil</a></p>
{% endblock %}