{% extends 'base.html.twig' %}
{% block title %}Message avec {{ otherUser.firstName }}{% endblock %}
{% block body_class %}get-message{% endblock %}
{% block body %}
    <main class="">
        <section class="">
            {% for uneConversation in allConversations %}
                <section>
                    <div>
                        <img src="" alt="">

                    </div>
                    <div>
                        {% for user in uneConversation.otherUsers %}
                            <p>
                                <a href="{{ path('app_message_show',{'hash':uneConversation.hash}) }}">{{ user.firstName }}</a>
                            </p>
                        {% endfor %}
                    </div>
                    <div>
                        <p></p>
                    </div>
                </section>
            {% endfor %}
        </section>
        <section>
            <div>
                <img>
            </div>
            <div>
                <p>
                    {{ otherUser.firstName|capitalize }} {{ otherUser.name }}
                </p>
            </div>
            <div id="lesMessages">
                {% for unMessage in messages %}

                    <p class="{% if unMessage.user.id == currentUser.id %}current-user{% else %}other-user{% endif %}">{{ unMessage.contenue }}</p>
                {% endfor %}
            </div>
            {{ include('Message/_form.html.twig') }}
        </section>

    </main>

    <script>

        if (document.body.classList.contains('get-message')) {
            async function fetchMessages() {

                try {
                    const response = await fetch('/message/get/{{ conversation }}');
                    if (response.ok) {
                        const messages = await response.json();

                        displayMessages(messages);

                    }
                } catch (error) {
                    console.error('Erreur réseau :', error);

                }
            }

            // Fonction pour afficher les messages
            function displayMessages(messages) {
                document.querySelector('#lesMessages').innerHTML = ''; // Vider le contenu
                let indice = 0;
                messages[0].forEach(msg => {


                    const messageElement = document.createElement('p');

                    if (messages[1][indice] === messages[2]) {
                        messageElement.className = "current-user"
                    } else {
                        messageElement.className = "other-user"
                    }
                    messageElement.textContent = msg;
                    indice++
                    document.querySelector('#lesMessages').appendChild(messageElement);
                });
            }

            // Démarrage du polling toutes les 10 secondes
            setInterval(fetchMessages, 10000);
        }


    </script>

{% endblock %}