{% extends 'base.html.twig' %}
{% block title %}Message avec
    {% if otherUser.isDelete !=true %}
        {{ otherUser.firstName }}
    {% else %}
        Utilisateur supprimé
    {% endif %}

{% endblock %}
{% block body_class %}get-message{% endblock %}
{% block body %}
    <main class="main-user-discussion">
        {{ include('message/conversation.html.twig') }}
        <section class="section-message-user">

            <div class="photo-nom-user">
                <div class="fleche-back">
                    <a href="{{ path('app_message') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
                        </svg>

                    </a>
                </div>
                <div class="image-profil">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15.75" height="18" viewBox="0 0 15.75 18">
                        <path id="Tracé_8" data-name="Tracé 8"
                              d="M10.688,4.5A2.813,2.813,0,1,0,7.875,7.313,2.813,2.813,0,0,0,10.688,4.5Zm-7.312,0A4.5,4.5,0,1,1,7.875,9a4.5,4.5,0,0,1-4.5-4.5ZM1.733,16.313H14.02a4.582,4.582,0,0,0-4.535-3.938H6.272a4.582,4.582,0,0,0-4.535,3.938ZM0,16.956a6.267,6.267,0,0,1,6.268-6.268H9.482a6.267,6.267,0,0,1,6.268,6.268A1.044,1.044,0,0,1,14.706,18H1.044A1.044,1.044,0,0,1,0,16.956Z"
                              fill="#fff"/>
                    </svg>


                </div>
                <div>
                    <p>
                        {% if otherUser.isDelete !=true %}
                            {{ otherUser.firstName|capitalize }} {{ otherUser.name }}
                        {% else %}
                            Utilisateur supprimé
                        {% endif %}

                    </p>
                </div>

            </div>
            <div id="lesMessages">
                {% for unMessage in messages %}

                    <p class="{% if unMessage.user.id == currentUser.id %}current-user{% else %}other-user{% endif %}">{{ unMessage.contenue }}</p>
                {% endfor %}
            </div>
            {{ include('message/_form.html.twig') }}
        </section>

    </main>

    <script>

        if (document.body.classList.contains('get-message')) {
            async function fetchMessages() {

                try {
                    const response = await fetch('/message/get/{{ laConversation }}');
                    if (response.ok) {
                        const messages = await response.json();
                        if (messages[0] !== "") {
                            displayMessages(messages);
                        }


                    }

                } catch (error) {
                    console.error('Erreur réseau :', error);

                }
            }

            // Fonction pour afficher les messages
            function displayMessages(messages) {
                document.querySelector('#lesMessages').innerHTML = ''; // Vider le contenu
                let indice = 0;
                messages[0].forEach(msg => {


                    const messageElement = document.createElement('p');

                    if (messages[1][indice] === messages[2]) {
                        messageElement.className = "current-user"
                    } else {
                        messageElement.className = "other-user"
                    }
                    messageElement.textContent = msg;
                    indice++
                    document.querySelector('#lesMessages').appendChild(messageElement);
                });
            }

            // Démarrage du polling toutes les 10 secondes
            setInterval(fetchMessages, 1000000);
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.auto-resize').forEach(function (textarea) {
                textarea.style.overflow = 'hidden'; // Pour éviter les barres de défilement
                textarea.style.height = textarea.scrollHeight + 'px';

                textarea.addEventListener('input', function () {
                    textarea.style.height = 'auto'; // Réinitialise la hauteur
                    textarea.style.height = textarea.scrollHeight + 'px'; // Ajuste selon le contenu
                });
            });
        });


    </script>

{% endblock %}