<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    {% block meta_tags %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% set currentRoute = app.request.attributes.get('_route') %}

<header>

    <h1>MatchAge </h1>

    {% if currentRoute != 'search_progress' and currentRoute != 'app_message_show' %}

    {% endif %}
    <aside id="mySidenav" class="sidenav">
        <a id="closeBtn" class="close">×</a>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('app_accueil') }}"
                       class="{% if app.request.attributes.get('_route')=='app_accueil' %}navActive{% endif %}"><img>Accueil
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_message') }}"
                       class="{% if app.request.attributes.get('_route')=='app_message' %}navActive{% endif %} "><img>Message</a>
                </li>
                {% if user is null %}
                    <li>
                        <a href="{{ path('app_login') }}"
                           class="{% if app.request.attributes.get('_route')=='app_login' %}navActive{% endif %}"><img>Se
                            connecter
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_user_new') }}"
                           class="{% if app.request.attributes.get('_route')=='app_user_new' %}navActive{% endif %}"><img>S'inscrire
                        </a>
                    </li>
                {% endif %}

                {% if admin %}
                    <li>
                        <a href="{{ path('admin_dashboard') }}"
                           class="{% if app.request.pathinfo starts with '/admin' %}navActive{% endif %}">
                            <img>Tableau de bord
                        </a>
                    </li>
                {% endif %}
                {% if user %}
                    <li><a href="{{ path('app_logout') }}" onclick="return confirm('Êtes vous sûrs ?')"><img>Se
                            déconnecter</a></li>
                {% endif %}


            </ul>
        </nav>

    </aside>


    <a id="openBtn">
  <span class="burger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
    </a>
</header>


{% block body %}{% endblock %}
</body>
</html>
