{{ form_start(form) }}
<section class="coordonee-inscription">
    <h3>1. Coordonnées</h3>
    {{ form_row(form.firstName) }}
    {{ form_row(form.name) }}
    {{ form_row(form.dateOfBirth) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.civilite) }}
    {{ form_row(form.pays) }}
</section>
<section class="connexion-inscription">
    <h3>2. Connexion</h3>
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <div class="mention-obligatoire"><p>* Mention obligatoire</p></div>


    {% if app.request.attributes.get('_route')=='app_user_edit' %}
        {{ form_row(form.inscriptionUser, {'label': "Mettre à jour"}) }}
        {{ form_row(form.deleteUser,{'label': "Supprimer le compte"}) }}
    {% else %}
        {{ form_row(form.inscriptionUser, {'label': "S'inscrire"}) }}
    {% endif %}

    
</section>


{{ form_end(form) }}
